.display-4{
	text-align: center;

    font-family: Lobster;
    font-size: 5rem;


}
.lead{
	margin-top: 1px;
	text-align: center;
	font-family: roboto;
}
#heaven{
	text-shadow: 1px 1px 1px red;
}
.jumbotron{
	box-shadow: 2px 2px 3px orange;
	margin: auto;
	width: 50%
	
}
.try{
	padding-top: 100px;
	text-align: center;
	margin: auto;
    padding-left: 100px;
    height: 300px;

}
img{
	float: left;
	width: 300px;
	height:200px;
	padding-right: 20px;
	padding-bottom: 20px; 
	display: none;
	border-radius: 25%;

 
}
#m{
	display: none;
	position: relative;
}
#mountgif{
	margin-top: 20px;
	display: none;

}
